
<a routerLink="/add" class="btn btn-primary mb-3 my-3">Create Task +</a>

<div *ngIf="showTaskDeletedMessage">
    <p>Task deleted.</p>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date:'mediumDate'}}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.status }}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]">detials</a>
        <button class="btn btn-outline-danger ms-2" (click)="deleteTask(task.id)">Delete</button>
        <button class="btn btn-outline-primary ms-2" [routerLink]="['/edit', task.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table>