
<a routerLink="/add" class="btn btn-primary mb-3 my-3">Create Task +</a>
<div *ngIf="showTaskCreatedMessage">
  <p>Task was Created.</p>
</div>
<div *ngIf="showTaskDeletedMessage">
    <p>Task deleted.</p>
</div>
<div *ngIf="showTaskUpdatedMessage">
  <p>Task was Updated.</p>
</div>
<div>
  <div class="form-group">
    <label for="priority-select">Filter by priority:</label>
    <select id="priority-select" class="form-control" [(ngModel)]="selectedPriority">
      <option value="">All</option>
      <option value="1">High</option>
      <option value="2">Medium</option>
      <option value="3">Low</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="status-select">Filter by status:</label>
    <select id="status-select" class="form-control" [(ngModel)]="selectedStatus">
      <option value="">All</option>
      <option value="1">New</option>
      <option value="2">In Progress</option>
      <option value="3">Completed</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="due-date-input">Filter by due date:</label>
    <input id="due-date-input" type="text" class="form-control" [(ngModel)]="dueDateFilter">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="filterTasks()">Filter</button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th >Name</th>
      <th>Description</th>
      <th (click)="sortTasks('dueDate')">Due Date</th>
      <th (click)="sortTasks('priority')">Priority</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let task of tasks">
      <tr *ngIf="!dueDateFilter || isDueDateMatch(task.dueDate, dueDateFilter)">
      
          <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date:'mediumDate'}}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.status }}</td>
      <td>
        <a  class="btn btn-outline-info ms-2"[routerLink]="['/tasks', task.id]">detials</a>
        <button class="btn btn-outline-danger ms-2" (click)="deleteTask(task.id)">Delete</button>
        <button class="btn btn-outline-primary ms-2" [routerLink]="['/edit', task.id]">Edit</button>
      </td>
    </tr>
  </ng-container>

  </tbody>
</table>